body {
    margin: 20px;
    text-align: center;
    background: #C0D6E4;
    font-family: 'Happy Monkey', cursive;
    font-size: 2.5em;
}

.border-top {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    height: 5px;
    border-top: solid 5px #F08080;
    background: #FFF;
}

.border-bottom {
    position: fixed;
    right: 0;
    bottom: 0;
    left: 0;
    height: 5px;
    border-bottom: solid 5px #F08080;
    background: #FFF;
}

h1 {
    font-size: 1em;
}

.content {
    margin: 100px 0;
}

#thai-time {
    font-family: 'Itim', cursive;
}

#transcribed-time {
    font-size: 0.5em;
}

.hours {
    color: red;
}

.minutes {
    color: blue;
}

.word {
    color: green;
}

.hide-colors .hours,
.hide-colors .minutes,
.hide-colors .word {
    color: black;
}

.options {
    font-size: 0.5em;
    text-align: left;
    margin: 10px;
}
