body {
    text-align: center;
}

.hours {
    color: red;
}

.minutes {
    color: blue;
}

.word {
    color: green;
}

.hide-colors .hours,
.hide-colors .minutes,
.hide-colors .word {
    color: black;
}
